@model Plant.Models.myPlant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePlanted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePlanted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateLastWatered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateLastWatered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Garden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Garden)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Water your plant", "Edit", new { id = Model.ID }) |
    <a asp-action="Plant">Back to List</a>
</div>
